@using Microsoft.AspNetCore.Components.Routing
@using Blazor.Analytics

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="error-title">404</h1>
                        <p class="error-message">The page you're looking for doesn't exist.</p>
                        <a href="/" class="btn btn-primary btn-lg">Return Home</a>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>

<GoogleAnalytics />
<NavigationTracker />

